#pragma once

#define NTP_SERVER "nl.pool.ntp.org"

#define FONT_SMALL Antonio_SemiBold20pt7b
#define FONT_BIG Antonio_SemiBold90pt7b

#define TIME_OFFSET_SECONDS 3600
#define OTA_PASSWORD "changeme"

#ifndef HOSTNAME
#define HOSTNAME "btclock"
#endif

#define BITCOIND_HOST ""
#define BITCOIND_PORT 8332

#define BITCOIND_RPC_USER ""
#define BITCOIND_RPC_PASS ""

#define DEFAULT_FG_COLOR GxEPD_WHITE
#define DEFAULT_BG_COLOR GxEPD_BLACK